/* Copy of class for CSS styling. */
.head {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: lightblue;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px*/
    margin: auto; 
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin{
    background: #007bb5;
    color: white;
  }

  .fa-google{
    background: #dd4b39;
    color: white;
  }

  .fa-instagram{
    background: #ff6600;
    color: white;
  }